<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sunset.spring.test.Ajax.repository.FavoriteRepository">

	<select id="selectFavoriteList" 
	resultType="com.sunset.spring.test.Ajax.domain.Favorite">
		SELECT 
			`id`
			, `name`
			, `url`
			, `createdAt`
			, `updatedAt`
		FROM 
			`favorite`
	</select>
	
	<insert id="insertFavorite" parameterType="map">
		INSERT INTO
			`favorite`
		(
			`name`
			, `url`
		)
		VALUE 
		(
			#{name}
			, #{url}
		)
	</insert>

	<!-- 1. url 중복 확인 기능 -->
	<select id="selectCountUrl" parameterType="string" resultType="int">
		SELECT 
			count(*)
		FROM 
			`favorite`
		WHERE 
			`url` = #{url}
	</select>
	
	<!-- 2. 삭제 기능 -->
	<delete id="deleteFavorite" parameterType="int">
		DELETE FROM 
			`favorite`
		WHERE 
			`id` = #{id}
	</delete>
</mapper>